# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environments
.env
.venv/
env/
venv/
ENV/

# Anaconda / Conda
*.conda
conda-meta/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
